body{
    margin: 0;
    padding: 0;
    background-color: #5286B1;
    display: flex;
    height: 100vh;
  }
  nav{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 20vw;
    border: 1px solid white;
    border-left: none;
  }
nav > ul {
    list-style-type: none;
    justify-content: space-between;
    width: 40vw;
}



h2{
    display: inline-block;
}
textarea{
    resize: none;
}

.notes-label{
    display: block;
}

.todo{
    display: flex;
    border: 1px solid white;
    font-size: 2rem;
    justify-content: space-around;
    width: 80vw;
}
#projects{
    padding: 0px;
}

#add-todo, #add-project{
    margin-left: 10px;
    border-radius: 50px;
    border-color: blue;
    background-color: blue;
    color: white;
}
#pop-up-module{
    position: absolute;
    top:0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#form-content{
    background-color: aliceblue;
    width: 50vh;
    height: 50vh;
    list-style: none;
}

#form-content > li{
    margin-top: 2%;

}

#project-input{
    display: none;
}